{% extends 'base.html' %}

{% block content %}

<h2>Edit Task</h2>

<form
action="/update/{{task.id}}"
method="post">

<input
class="form-control mb-3"
name="title"
value="{{task.title}}">

<textarea
class="form-control mb-3"
name="description">{{task.description}}</textarea>

<select
class="form-select mb-3"
name="status">

<option
{% if task.status=="Pending" %}selected{% endif %}>
Pending
</option>

<option
{% if task.status=="Completed" %}selected{% endif %}>
Completed
</option>

</select>

<button class="btn btn-success">

Update

</button>

</form>

{% endblock %}