{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Task Manager</h2>

<form action="/add" method="post">

<div class="mb-3">

<input
class="form-control"
name="title"
placeholder="Task Title"
required>

</div>

<div class="mb-3">

<textarea
class="form-control"
name="description"
placeholder="Description"></textarea>

</div>

<div class="mb-3">

<select class="form-select" name="status">

<option>Pending</option>

<option>Completed</option>

</select>

</div>

<button class="btn btn-primary">
Add Task
</button>

</form>

<hr>

<form
action="/import"
method="post"
enctype="multipart/form-data">

<input
type="file"
name="excel"
class="form-control">

<br>

<button class="btn btn-success">

Import Excel

</button>

</form>

<br>

<a
href="/download"
class="btn btn-warning">

Download JSON

</a>

<hr>

<table class="table table-bordered">

<tr>

<th>Title</th>

<th>Description</th>

<th>Status</th>

<th>Actions</th>

</tr>

{% for task in tasks %}

<tr>

<td>{{task.title}}</td>

<td>{{task.description}}</td>

<td>{{task.status}}</td>

<td>

<a
class="btn btn-primary btn-sm"
href="/edit/{{task.id}}">

Edit

</a>

<a
class="btn btn-danger btn-sm"
href="/delete/{{task.id}}">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}